body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f7fe;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 80vh;
}

.container {
  text-align: center;
}

.container h1 {
  margin-bottom: 0.2em;
}

.container p {
  font-size:large;
  margin-bottom: 2em;
  color: #353535;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

.links a {
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 18px;
  font-size: 1.2em;  
  background: #f3f7fe;
  border: 2px solid #000000;
  color: rgb(0, 0, 0);
  font-weight: bold;
  width: 80%;
  max-width: 300px;
  text-align: center;
  transition: 0.2s ease-in-out;
}

  #li:hover {
    background: #003965;
    color: rgb(255, 255, 255);
  }
  #git:hover {
    background: #1a1a1a;
    color: rgb(255, 255, 255);
  }
  #res:hover {
    background: #235024;
    color: rgb(255, 255, 255);
  }
  #cont:hover {
    background: #7f2921;
    color: rgb(255, 255, 255);
  }

@media only screen and (max-width: 600px) {
  #li{
    background: #0069bb;
    border: 2px solid #000000;
    color: rgb(0, 0, 0);
  }
  #git{
    background: #9c9c9c;
    border: 2px solid #000000;
    color: rgb(0, 0, 0);
  }
  #res{
    background: #4CAF50;
    border: 2px solid #000000;
    color: rgb(0, 0, 0);
  }
  #cont{
    background: #D44638;
    border: 2px solid #000000;
    color: rgb(0, 0, 0);
  }

  #li:hover {
    background: #003965;
    color: rgb(255, 255, 255);
  }
  #git:hover {
    background: #191919;
    color: rgb(255, 255, 255);
  }
  #res:hover {
    background: #235024;
    color: rgb(255, 255, 255);
  }
  #cont:hover {
    background: #7f2921;
    color: rgb(255, 255, 255);
  }
}